
<table>
  <thead>
    <tr>
      <th>Tarefa</th>
      <th>Previsão</th>
      <th>Concluída?</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of tarefas">
      <td>{{tarefa.descricao}}</td>
      <td>{{tarefa.previsao | date:"dd/MM/yyyy HH:mm"}}</td>
      <td>{{tarefa.concluida ? 'Sim' : 'Não'}}</td>
      <td>
        <button (click)="concluir(tarefa)" *ngIf="!tarefa.concluida">Concluir</button>
        <button (click)="reabrir(tarefa)" *ngIf="tarefa.concluida">Reabrir</button>
        <button (click)="remover(tarefa)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

<form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
  <p>
    Descrição:
    <input formControlName="descricao">
  </p>
  <p>
    Previsão:
    <input type="date" formControlName="previsao">
  </p>
  <p>
    <button>Cadastrar</button>
  </p>
</form>
